body {
    background-color: #EBEDF0;
}

.loader {
    border: 4px solid #f3f3f3;
    /* Light grey */
    border-top: 4px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 48px;
    height: 48px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.webix_sidebar {
    transition: width 0.2s ease-out;
}

.shaft {
    display: grid;
    grid-template-columns: 48px auto;
    grid-template-rows: auto auto auto;
    /* grid-column-gap: 8px; */
}

.shaft img.icon {
    grid-row: 1 / 3;
    align-self: center;
    margin: 8px;
}

.shaft span.name {
    font-size: 16px;
    align-self: end;
}

.shaft span.level {
    grid-row: 2;
    align-self: start;
    font-size: 14px;
}

.webix_dataview_item {
    padding: 0;
}

.webix_dataview_inner_item {
    padding: 2px 0px !important;
}

.blocks .block {
    display: flex;
    align-items: center;
    color: #4CAF50;
}

.blocks .block img.icon {
    margin: 4px 8px;
}